rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 允許所有人讀取、新增（訪客上傳與看成績榜）
    // 限制修改與刪除需要登入
    match /uploads/{uploadId} {
      allow read, create: if true;
      allow update, delete: if request.auth != null;
    }
    
    // 允許所有人讀取考試題目（讓上傳區可以選題目）
    // 限制發布、修改、刪除需要登入
    match /exams/{examId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }

    match /admins/{adminId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
